.about__block {
  margin-bottom: 143px;
  display: flex;
  position: relative;
}

.about__photo-background {

  object-fit: fill;
  border-radius: 5px;
width: 489px;
height: 505px;
}



.about__link {
  display: inline-block;

}

.about__desc {
  color: #fff;
  background: linear-gradient(to right top, #8F00FF 25%, #148CFF 80%);
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 98px;
  padding: 69px 78px;
  width: 785px;
box-sizing: border-box;

}

.about__head {

  margin-bottom: 37px;

  font-size: 36px;
  font-weight: bold;

}

.about__desc-text {
  max-width: 501px;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 43px;
 
}

.about__btn {
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  box-sizing: border-box;
}
