.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;


}

.footer-home {
  padding-bottom: 35px;
}


.footer-games {

  padding-bottom: 35px;
  padding-top: 57px;

}

.logo__pic-footer {

  max-width: 168px;

}

.menu__footer {
  max-width: 391px;
  gap: 5px;
  display: flex;
  justify-content: space-around;
}


.site-contacts__footer {
  display: flex;
  flex-direction: column;
  max-width: 191px;
  width: 100%;
  flex: 1;

}

.site-contacts__fone {
  font-size: 26px;
  font-style: normal;

}

.site-contacts__text {
  color: #fff;
  display: block;
  font-size: 11px;
  font-style: normal;
  display: block;

}