.menu__list {
  min-width: 391px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


/* .menu__link:active {
  color: #fff;
} */

.menu__item--aktiv .menu__link {
  color: #8F00FF;
  
}

.menu__link {
  color: #fff;
  display: flex;
}



.menu__list:hover .menu__item--aktiv {
  color: inherit;
}

.menu__item .menu__link:hover, .menu__item--aktiv {
  color: #8F00FF;
  transition: .5s;
}

.menu__link.menu__item--aktiv:hover {
  color: #8F00FF;
}